<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  {% block styles %}
  {{ bootstrap.load_css() }}
  <style type="text/css">
    body {
      background: #9FC5F8 !important;
    }
  </style>
  {% endblock %}

  {% if title %}
  <title>{{ title }} - PF2 Spellmaster</title>
  {% else %}
  <title>PF2 Spellmaster</title>
  {% endif %}

  {% endblock %}
</head>

<body>
  {% block content %}{% endblock %}

  {% block scripts %}
  {{ bootstrap.load_js() }}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  {% endblock %}
</body>

</html>