<!DOCTYPE html>
{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_field, render_form_row %}

{% block content %}
{% include "navbar.html" %}
<div class="container">
  <div class="row mt-4">
    <div class="col-auto d-flex flex-column justify-content-end">
      <img src="{{ url_for('static', filename='images/gandalf.jpg') }}" class="img-thumbnail">
      <div class="card mt-3">
        <div class="card-header text-center">
          <h5 class="mb-0">{{ char.name }}</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          Stats
        </div>
        <div class="card-body">
          <form id="statsform" action="{{ url_for('.stats', cid=char.cid) }}">
            {{ render_form_row([statsform.spell_attack_rol, statsform.spell_dc, statsform.cantrip_lvl], col_class_default='col text-center') }}
            <hr>
            <p class="text-center">Spell Slots</p>
            {{ render_form_row([statsform.spell_slots_cantrip, statsform.spell_slots_1, statsform.spell_slots_2, statsform.spell_slots_3, statsform.spell_slots_4, statsform.spell_slots_5, statsform.spell_slots_6, statsform.spell_slots_7, statsform.spell_slots_8, statsform.spell_slots_9, statsform.spell_slots_10], col_class_default='col text-center') }}
            <hr>
            <div class="form-row">
              <div class="col-0.5">
                {{ render_field(statsform.submit) }}
              </div>
              <div class="col-0.5">
                <input class="btn btn-secondary btn-md" id="reset" name="reset" type="reset" value="Reset">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="card" id="prepspells">
        <div class="card-header d-flex align-items-center">
          <span class="mr-auto">Prepared Spells</span>
          <button type="button" class="btn btn-primary" id="regainall">Regain All Slots</button>
        </div>
        <div class="card-body">
          {% set levels = ['cantrip', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10'] %}
          {% for lvl in levels if char|attr('spell_slots_'+lvl) > 0 %}
          {% if lvl != 'cantrip' %}
          <hr>
          {% endif %}

          <h3 class="mb-0 mx-auto" style="min-width: 3.5em; max-width: 3.5em">
            {% if lvl == 'cantrip' %}
            <span class="badge badge-secondary w-100">{{ lvl }}</span>
            {% else %}
            <span class="badge badge-secondary w-100">Lv. {{ lvl }}</span>
            {% endif %}
          </h3>
          <hr>
          <div class="row justify-content-center">
            {% set prep = char.prepared_spells|selectattr('spell_slot_level', 'equalto', lvl)|list %}
            {% for i in range(char|attr('spell_slots_'+lvl)) %}
            <div class="col-3 my-1">
              <div class="card bg-light slotcard">
                <div class="card-body d-flex align-items-center py-2">
                  {% if i < prep|length %}
                  {% if prep[i].used %}
                  <del>
                    {% endif %}
                    <a class="spell-link" href="#tab-{{ prep[i].pid }}">{{ prep[i].spell.name }}</a>
                    {% if prep[i].used %}
                  </del>
                  {% endif %}
                  <button type="button" class="close delspell ml-auto" aria-label="Close">
                    <span data-action="{{ url_for('.unprepare', pid=prep[i].pid) }}" aria-hidden="true">&times;</span>
                  </button>
                  {% else %}
                  <span class="text-muted">&lt;empty slot&gt;</span>
                  <button type="button" class="close addspell ml-auto" aria-label="Close">
                    <span data-action="{{ url_for('.spellbook', level=lvl)}}" data-char="{{ char.cid }}" data-lvl="{{ lvl }}" aria-hidden="true">+</span>
                  </button>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="tab-content">
            {% for p in prep %}
            <div id="tab-{{ p.pid }}" class="tab-pane fade hide">
              <div class="card mt-3">
                <div class="card-header d-flex align-items-center">
                  <span>{{ p.spell.name }}</span>
                  {% if not p.used %}
                  <button type="button" class="btn btn-primary usespell togglespell ml-auto" data-action="{{ url_for('.toggleprepare', pid=p.pid) }}">Use Spell</button>
                  {% else %}
                  <span class="text-muted ml-3">(This slot has already been used)</span>
                  <button type="button" class="btn btn-secondary regainspell togglespell ml-auto" data-action="{{ url_for('.toggleprepare', pid=p.pid) }}">Regain Slot</button>
                  {% endif %}
                </div>
                <div class="card-body d-flex">
                  <div class="card bg-light">
                    <div class="card-body">
                      <p><strong>Traditions</strong> {{ p.spell.traditions }}</p>
                      <p><strong>Actions</strong> {{ p.spell.actions }}</p>
                      <p><strong>Components</strong> {{ p.spell.components }}</p>
                      <p><strong>Save</strong> {{ p.spell.save }}</p>
                      <p><strong>School</strong> {{ p.spell.school }}</p>
                      <p><strong>Targets</strong> {{ p.spell.targets }}</p>
                      <p><strong>Rarity</strong> {{ p.spell.rarity }}</p>
                      <p class="mb-0"><strong>Traits</strong> {{ p.spell.traits }}</p>
                    </div>
                  </div>
                  <div class="container m-2">
                    <p>{{ p.spell.description }}</p>
                    <hr>
                    {% for h in ['plus1','plus2','plus3','2nd','3rd','4th','5th','6th','7th','8th','9th','10th'] %}
                    {% if p.spell['heightened_' + h] %}
                    <strong>Heightened ({{ h.replace('plus', '+') }})</strong>
                    <p>{{ p.spell['heightened_' + h] }}</p>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% assets "char_page" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}