<!DOCTYPE html>
{% extends "base.html" %}
{% from 'bootstrap/nav.html' import render_nav_item %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand w-100" href="#">PF2 Spellmaster</a>
  <div class="navbar-nav mx-auto">
    {% if not loginform %}
    {{ render_nav_item('.user', 'Characters', username=current_user.username)}}
    {{ render_nav_item('.spellbook', 'Spellbook')}}
    <a class="nav-item nav-link" href="" id="logout" data-action="/logout">Logout</a>
    {% else %}
    {{ render_nav_item('.root', 'Home') }}
    {{ render_nav_item('.spellbook', 'Spellbook')}}
    <a class="nav-item nav-link" href="" data-toggle="modal" data-target="#loginModal" data-action="/login" data-title="Login">Login</a>
    <a class="nav-item nav-link" href="" data-toggle="modal" data-target="#loginModal" data-action="/register" data-title="Register">Register</a>
    {% endif %}
  </div>
  <div class="w-100">
  </div>
</nav>

{% if loginform %}
{% include "login.html" %}
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% if not loginform %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/navbar.js') }}"></script>
{% else %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/login.js') }}"></script>
{% endif %}
{% endblock %}