<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div class="d-flex min-vh-100">
  <div class="container my-auto" style="width: 450px">
    <div class="row">
      <div class="col py-1">
        <img src="{{ url_for('static', filename='images/wizard.jpg') }}" class="img-thumbnail">
      </div>
    </div>
    <div class="row py-1">
      <div class="col pr-1">
        <button type="button" class="btn btn-info w-100">Login</button>
      </div>
      <div class="col pl-1">
        <button type="button" class="btn btn-info w-100">Register</button>
      </div>
    </div>
    <div class="row py-1">
      <div class="col">
        <a class="btn btn-info w-100" href="{{ url_for('.spellbook') }}">Spellbook</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}