<!DOCTYPE html>
{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
{% from 'bootstrap/table.html' import render_table %}

{% block content %}
{% include "navbar.html" %}
<div class="container p-0">
  <div class="row">
    <div class="col p-0">
      <div class="card mt-4">
        <div class="card-header">
          Filters
        </div>
        <div class="card-body">
          <form id="filterform" action="">
            {{ render_form_row([filterform.level, filterform.traditions, filterform.actions, filterform.components, filterform.save, filterform.school, filterform.traits]) }}
            {{ render_form_row([filterform.name], col_class_default='col-3') }}
            <div class="form-row">
              <div class="col-0.5">
                {{ render_field(filterform.submit) }}
              </div>
              <div class="col-0.5">
                <input class="btn btn-secondary btn-md" id="reset" name="reset" type="reset" value="Reset">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {% if characters %}
    <div class="col-auto order-last p-0">
      <div class="card sticky-top my-4 ml-4" style="top: 1em" id="slotscard">
        <div class="card-header">
          Spell Slots
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="charselect">Character</label>
              <select class="form-control" id="charselect">
                {% for char in characters %}
                <option{{ ' selected' if request.cookies.get('character') == char.cid|string }} id="char-tab-{{ char.cid }}-select" data-toggle="tab" data-target="#char-tab-{{ char.cid }}" value="{{ char.cid }}">{{ char.name }}</option>
                  {% endfor %}
              </select>
            </div>
          </form>
          <hr>
          <div class="tab-content">
            {% set cids = characters|map(attribute='cid')|map('string') %}
            {% for char in characters %}
            <div class="tab-pane fade{{ ' show active' if request.cookies.get('character') == char.cid|string or (loop.index == 1 and request.cookies.get('character') not in cids) }}" id="char-tab-{{ char.cid }}">
              <div class="row">
                <div class="col">
                  <div class="tab-content" id="v-pills-tabContent-{{ char.cid }}">
                    {% set levels = ['cantrip', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10'] %}
                    {% for lvl in levels %}
                    {% if char|attr('spell_slots_'+lvl) > 0 %}
                    <div class="tab-pane fade{{ ' show active' if request.cookies.get('level') == lvl or (loop.index == 1 and request.cookies.get('level') not in levels) }}" id="v-pills-{{ lvl }}-{{ char.cid }}" role="tabpanel"
                      aria-labelledby="v-pills-{{ lvl }}-tab-{{ char.cid }}">
                      {% set prep = char.prepared_spells|selectattr('spell_slot_level', 'equalto', lvl)|list %}
                      {% for i in range(char|attr('spell_slots_'+lvl)) %}
                      <div class="card bg-light mb-2">
                        <div class="card-body d-flex align-items-center py-2">
                          {% if i < prep|length %}
                          <a class="spell-link mr-3" data-link="{{ prep[i].sid }}" href="{{ url_for('.spellbook')+'?sid='+prep[i].sid|string+'#'+prep[i].sid|string }}">{{ prep[i].spell.name }}</a>
                          <button type="button" class="close ml-auto" aria-label="Close">
                            <span data-action="{{ url_for('.unprepare', pid=prep[i].pid) }}" aria-hidden="true">&times;</span>
                          </button>
                          {% else %}
                          <span class="text-muted">&lt;empty slot&gt;</span>
                          {% endif %}
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <div class="col-auto pl-0">
                  <div class="nav flex-column nav-pills" id="v-pills-tab-{{ char.cid }}" role="tablist" aria-orientation="vertical">
                    {% for lvl in levels %}
                    {% if char|attr('spell_slots_'+lvl) > 0 %}
                    <a class="nav-link{{ ' active' if request.cookies.get('level') == lvl or (loop.index == 1 and request.cookies.get('level') not in levels) }}" id="v-pills-{{ lvl }}-tab-{{ char.cid }}" data-toggle="pill"
                      href="#v-pills-{{ lvl }}-{{ char.cid }}" role="tab" aria-controls="v-pills-{{ lvl }}-{{ char.cid }}" aria-selected="true" data-value="{{ lvl }}">{{ 'Cantrips' if lvl == 'cantrip' else 'Lv. '+lvl }}</a>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="col p-0">
      <div class="card my-4">
        <div class="card-header">
          Spells ({{ table|length }})
        </div>
        <div class="card-body">
          <div id="accordion">
            {% for spell in table %}
            <div class="card mb-2" data-spell="{{ spell.sid }}">
              <div class="card-header d-flex align-items-center" id="{{ spell.sid }}">
                <h3 class="mb-0" style="min-width: 3.5em; max-width: 3.5em">
                  {% if spell.level == 'cantrip' %}
                  <span class="badge badge-secondary w-100">{{ spell.level }}</span>
                  {% else %}
                  <span class="badge badge-secondary w-100">Lv. {{ spell.level }}</span>
                  {% endif %}
                </h3>
                <div class="mx-4">
                  <button class="btn btn-link btn-lg p-0 collapsed" data-toggle="collapse" data-target="#collapse{{ spell.sid }}" aria-expanded="false" aria-controls="collapse{{ spell.sid }}">
                    {{ spell.name }}
                  </button>
                  <br>
                  {{ spell.summary }}
                </div>
                {% if prepareform %}
                <button type="button" class="btn btn-primary ml-auto" data-toggle="modal" data-target="#prepareModal" data-spell="{{ spell.sid }}" data-level="{{ spell.level }}" data-action="{{ url_for('.prepare') }}"
                  data-title="Prepare {{ spell.name }}">Prepare</button>
                {% endif %}
              </div>
              <div id="collapse{{ spell.sid }}" class="collapse{{ ' show' if request.cookies.get('collapse') == spell.sid|string }}" aria-labelledby="{{ spell.sid }}" data-parent="#accordion">
                <div class="card-body d-flex">
                  <div class="card bg-light">
                    <div class="card-body">
                      <p><strong>Traditions</strong> {{ spell.traditions }}</p>
                      <p><strong>Actions</strong> {{ spell.actions }}</p>
                      <p><strong>Components</strong> {{ spell.components }}</p>
                      <p><strong>Save</strong> {{ spell.save }}</p>
                      <p><strong>School</strong> {{ spell.school }}</p>
                      <p><strong>Targets</strong> {{ spell.targets }}</p>
                      <p><strong>Rarity</strong> {{ spell.rarity }}</p>
                      <p class="mb-0"><strong>Traits</strong> {{ spell.traits }}</p>
                    </div>
                  </div>
                  <div class="container m-2">
                    <p>{{ spell.description }}</p>
                    <hr>
                    {% for h in ['plus1','plus2','plus3','2nd','3rd','4th','5th','6th','7th','8th','9th','10th'] %}
                    <p>{{ spell['heightened_' + h] }}</p>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if prepareform %}
<div class="modal fade" id="prepareModal" tabindex="-1" role="dialog" aria-labelledby="prepareModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="prepareModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form" action="">
        {{ prepareform.csrf_token }}
        <div class="modal-body">
          <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error! </strong><span></span>
          </div>
          {{ prepareform.spell }}
          {{ render_field(prepareform.character) }}
          {{ render_form_row([prepareform.cantrip, prepareform.lv1, prepareform.lv2, prepareform.lv3, prepareform.lv4, prepareform.lv5, prepareform.lv6, prepareform.lv7, prepareform.lv8, prepareform.lv9, prepareform.lv10])}}
        </div>
        <div class="modal-footer">
          {{ render_field(prepareform.submit) }}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% assets "spellbook_page_logged_in" if prepareform and characters else "spellbook_page_logged_out" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}