<!DOCTYPE html>
{% extends "navbar.html" %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
{% from 'bootstrap/table.html' import render_table %}

{% block content %}
{{ super() }}
<div class="container-fluid">
  <div class="row">
    <div class="col p-0">
      <div class="card mt-4 mx-4">
        <div class="card-header">
          Filters
        </div>
        <div class="card-body">
          <form id="filterform" action="">
            {{ render_form_row([filterform.level, filterform.traditions, filterform.actions, filterform.components, filterform.save, filterform.school, filterform.targets, filterform.rarity, filterform.traits]) }}
            {{ render_form_row([filterform.name], col_class_default='col-3') }}
            <div class="form-row">
              <div class="col-0.5">
                {{ render_field(filterform.submit) }}
              </div>
              <div class="col-0.5">
                <input class="btn btn-secondary btn-md" id="reset" name="reset" type="reset" value="Reset">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {% if characters %}
    <div class="col-3 order-last p-0">
      <div class="card sticky-top mt-4 ml-0 mr-4" style="top: 1em" id="slotscard">
        <div class="card-header">
          Spell Slots
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="charselect">Character</label>
              <select class="form-control" id="charselect">
                {% for char in characters %}
                <option{{ ' selected' if request.cookies.get('character')|int == char.cid }} id="char-tab-{{ char.cid }}-select" data-toggle="tab" data-target="#char-tab-{{ char.cid }}" value="{{ char.cid }}">{{ char.name }}</option>
                  {% endfor %}
              </select>
            </div>
          </form>
          <hr>
          <div class="tab-content">
            {% for char in characters %}
            <div class="tab-pane fade{{ ' show active' if request.cookies.get('character')|int == char.cid or (loop.index == 1 and not characters|selectattr('cid', 'equalto', request.cookies.get('character')|int)|list) }}"
              id="char-tab-{{ char.cid }}">
              <div class="row">
                <div class="col-auto">
                  <div class="nav flex-column nav-pills" id="v-pills-tab-{{ char.cid }}" role="tablist" aria-orientation="vertical">
                    {% if char.spell_slots_cantrip > 0 %}
                    <a class="nav-link active" id="v-pills-cantrip-tab-{{ char.cid }}" data-toggle="pill" href="#v-pills-cantrip-{{ char.cid }}" role="tab" aria-controls="v-pills-cantrip-{{ char.cid }}" aria-selected="true">Cantrips</a>
                    {% endif %}
                    {% if char.spell_slots_1 > 0 %}
                    <a class="nav-link" id="v-pills-1-tab-{{ char.cid }}" data-toggle="pill" href="#v-pills-1-{{ char.cid }}" role="tab" aria-controls="v-pills-1-{{ char.cid }}" aria-selected="true">Lv. 1</a>
                    {% endif %}
                    {% if char.spell_slots_2 > 0 %}
                    <a class="nav-link" id="v-pills-2-tab-{{ char.cid }}" data-toggle="pill" href="#v-pills-2-{{ char.cid }}" role="tab" aria-controls="v-pills-2-{{ char.cid }}" aria-selected="true">Lv. 2</a>
                    {% endif %}
                    {% if char.spell_slots_3 > 0 %}
                    <a class="nav-link" id="v-pills-3-tab-{{ char.cid }}" data-toggle="pill" href="#v-pills-3-{{ char.cid }}" role="tab" aria-controls="v-pills-3-{{ char.cid }}" aria-selected="true">Lv. 3</a>
                    {% endif %}
                    {% if char.spell_slots_4 > 0 %}
                    <a class="nav-link" id="v-pills-4-tab-{{ char.cid }}" data-toggle="pill" href="#v-pills-4-{{ char.cid }}" role="tab" aria-controls="v-pills-4-{{ char.cid }}" aria-selected="true">Lv. 4</a>
                    {% endif %}
                    {% if char.spell_slots_5 > 0 %}
                    <a class="nav-link" id="v-pills-5-tab-{{ char.cid }}" data-toggle="pill" href="#v-pills-5-{{ char.cid }}" role="tab" aria-controls="v-pills-5-{{ char.cid }}" aria-selected="true">Lv. 5</a>
                    {% endif %}
                    {% if char.spell_slots_6 > 0 %}
                    <a class="nav-link" id="v-pills-6-tab-{{ char.cid }}" data-toggle="pill" href="#v-pills-6-{{ char.cid }}" role="tab" aria-controls="v-pills-6-{{ char.cid }}" aria-selected="true">Lv. 6</a>
                    {% endif %}
                    {% if char.spell_slots_7 > 0 %}
                    <a class="nav-link" id="v-pills-7-tab-{{ char.cid }}" data-toggle="pill" href="#v-pills-7-{{ char.cid }}" role="tab" aria-controls="v-pills-7-{{ char.cid }}" aria-selected="true">Lv. 7</a>
                    {% endif %}
                    {% if char.spell_slots_8 > 0 %}
                    <a class="nav-link" id="v-pills-8-tab-{{ char.cid }}" data-toggle="pill" href="#v-pills-8-{{ char.cid }}" role="tab" aria-controls="v-pills-8-{{ char.cid }}" aria-selected="true">Lv. 8</a>
                    {% endif %}
                    {% if char.spell_slots_9 > 0 %}
                    <a class="nav-link" id="v-pills-9-tab-{{ char.cid }}" data-toggle="pill" href="#v-pills-9-{{ char.cid }}" role="tab" aria-controls="v-pills-9-{{ char.cid }}" aria-selected="true">Lv. 9</a>
                    {% endif %}
                    {% if char.spell_slots_10 > 0 %}
                    <a class="nav-link" id="v-pills-10-tab-{{ char.cid }}" data-toggle="pill" href="#v-pills-10-{{ char.cid }}" role="tab" aria-controls="v-pills-10-{{ char.cid }}" aria-selected="true">Lv. 10</a>
                    {% endif %}
                  </div>
                </div>
                <div class="col">
                  <div class="tab-content" id="v-pills-tabContent-{{ char.cid }}">
                    {% for lvl in ['cantrip', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10'] %}
                    {% if char|attr('spell_slots_'+lvl) > 0 %}
                    <div class="tab-pane fade{{ ' show active' if loop.index == 1 }}" id="v-pills-{{ lvl }}-{{ char.cid }}" role="tabpanel" aria-labelledby="v-pills-{{ lvl }}-tab-{{ char.cid }}">
                      {% set prep = char.prepared_spells|selectattr('spell_slot_level', 'equalto', lvl)|list %}
                      {% for i in range(char|attr('spell_slots_'+lvl)) %}
                      <div class="card bg-light mb-2">
                        <div class="card-body py-2">
                          {% if i < prep|length %}
                          {{ prep[i].spell.name }}
                          {% else %}
                          &lt;empty slot&gt;
                          {% endif %}
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="col p-0">
      <div class="card mt-4 mx-4">
        <div class="card-header">
          Spells
        </div>
        <div class="card-body">
          <div id="accordion">
            {% for spell in table %}
            <div class="card mb-2" data-spell="{{ spell.sid }}">
              <div class="card-header d-flex align-items-center" id="heading{{ spell.sid }}">
                <h2 class="mb-0" style="min-width: 100px">
                  {% if spell.level == 'cantrip' %}
                  <span class="badge badge-secondary w-100">{{ spell.level }}</span>
                  {% else %}
                  <span class="badge badge-secondary w-100">Lv. {{ spell.level }}</span>
                  {% endif %}
                </h2>
                <div class="mx-4">
                  <button class="btn btn-link btn-lg p-0 collapsed" data-toggle="collapse" data-target="#collapse{{ spell.sid }}" aria-expanded="false" aria-controls="collapse{{ spell.sid }}">
                    {{ spell.name }}
                  </button>
                  <br>
                  {{ spell.summary }}
                </div>
                {% if prepareform %}
                <button type="button" class="btn btn-primary ml-auto" data-toggle="modal" data-target="#prepareModal" data-spell="{{ spell.sid }}" data-level="{{ spell.level }}" data-action="{{ url_for('.prepare') }}"
                  data-title="Prepare {{ spell.name }}">Prepare</button>
                {% endif %}
              </div>
              <div id="collapse{{ spell.sid }}" class="collapse{{ ' show' if request.cookies.get('collapse')|int == spell.sid }}" aria-labelledby="heading{{ spell.sid }}" data-parent="#accordion">
                <div class="card-body d-flex">
                  <div class="card bg-light">
                    <div class="card-body">
                      <p><strong>Traditions</strong> {{ spell.traditions }}</p>
                      <p><strong>Actions</strong> {{ spell.actions }}</p>
                      <p><strong>Components</strong> {{ spell.components }}</p>
                      <p><strong>Save</strong> {{ spell.save }}</p>
                      <p><strong>School</strong> {{ spell.school }}</p>
                      <p><strong>Targets</strong> {{ spell.targets }}</p>
                      <p><strong>Rarity</strong> {{ spell.rarity }}</p>
                      <p class="mb-0"><strong>Traits</strong> {{ spell.traits }}</p>
                    </div>
                  </div>
                  <div class="container m-2">
                    {{ spell.summary }}
                    (this is still the summary as the full spell description is not yet in the database)
                    <hr>
                    (here we will put the heightened spell information)
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if prepareform %}
<div class="modal fade" id="prepareModal" tabindex="-1" role="dialog" aria-labelledby="prepareModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="prepareModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form" action="">
        {{ prepareform.csrf_token }}
        <div class="modal-body">
          <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error! </strong><span></span>
          </div>
          <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success! </strong><span></span>
          </div>
          {{ prepareform.spell }}
          {{ render_field(prepareform.character) }}
          {{ render_form_row([prepareform.cantrip, prepareform.lv1, prepareform.lv2, prepareform.lv3, prepareform.lv4, prepareform.lv5, prepareform.lv6, prepareform.lv7, prepareform.lv8, prepareform.lv9, prepareform.lv10])}}
        </div>
        <div class="modal-footer">
          {{ render_field(prepareform.submit) }}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/spellbook.js') }}"></script>
{% if prepareform %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/prepare.js') }}"></script>
{% endif %}
{% if characters %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/slots.js') }}"></script>
{% endif %}
{% endblock %}